In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

In [ ]:
df=pd.read_csv('churn-bigml-80.csv')
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
df['State'].unique().shape

(51,)

In [ ]:
print(type(df['State']))

<class 'pandas.core.series.Series'>

In [ ]:
df_ks=df[(df['State']== 'KS') & (df['International plan']=='Yes')]

In [ ]:
df_ks.shape

(5, 20)

In [ ]:
df.groupby(by='State')['Total day calls'].sum()

State
AK    4069
AL    6563
AR    4906
AZ    4565
CA    2416
CO    5598
CT    5818
DC    4407
DE    5026
FL    5358
GA    5126
HI    4444
IA    3957
ID    6049
IL    4547
IN    5714
KS    5216
KY    4261
LA    3604
MA    5284
MD    5870
ME    4925
MI    5747
MN    6923
MO    5094
MS    4916
MT    5051
NC    5775
ND    4427
NE    4261
NH    4347
NJ    4968
NM    4474
NV    6241
NY    6744
OH    6586
OK    5190
OR    5863
PA    3560
RI    4842
SC    4977
SD    4602
TN    4086
TX    5568
UT    5981
VA    7096
VT    5759
WA    4825
WI    5917
WV    9196
WY    6688
Name: Total day calls, dtype: int64

In [ ]:
df.groupby(by='State')['Total day calls'].mean()

State
AK     94.627907
AL     99.439394
AR    104.382979
AZ    101.444444
CA    100.666667
CO     94.881356
CT     98.610169
DC     97.933333
DE     98.549020
FL     99.222222
GA    104.612245
HI    101.000000
IA    104.131579
ID    108.017857
IL    101.044444
IN    105.814815
KS    100.307692
KY     99.093023
LA    102.971429
MA    101.615385
MD     97.833333
ME    100.510204
MI     99.086207
MN     98.900000
MO     99.882353
MS    102.416667
MT     95.301887
NC    103.125000
ND    100.613636
NE     94.688889
NH    101.093023
NJ     99.360000
NM    101.681818
NV    102.311475
NY     99.176471
OH     99.787879
OK     99.807692
OR     94.564516
PA     98.888889
RI    100.875000
SC    101.571429
SD     93.918367
TN     99.658537
TX    101.236364
UT     99.683333
VA    105.910448
VT    101.035088
WA    100.520833
WI     97.000000
WV    104.500000
WY    101.333333
Name: Total day calls, dtype: float64

In [ ]:
df.groupby(by='State')['Total day calls'].std()

State
AK    20.003599
AL    17.272592
AR    18.341629
AZ    21.440781
CA    24.494306
CO    19.291846
CT    20.519139
DC    19.932158
DE    21.856179
FL    15.044170
GA    18.696943
HI    20.018596
IA    19.797858
ID    19.472583
IL    18.669318
IN    19.859957
KS    17.712894
KY    17.797557
LA    16.560914
MA    21.368984
MD    18.216371
ME    18.618005
MI    19.072608
MN    22.244459
MO    20.184793
MS    19.617440
MT    22.431593
NC    19.792618
ND    19.130173
NE    20.689064
NH    17.498046
NJ    20.870602
NM    19.815161
NV    19.777547
NY    19.275645
OH    20.342086
OK    21.121533
OR    18.410280
PA    23.615706
RI    20.001729
SC    21.440810
SD    22.709063
TN    21.104040
TX    12.738050
UT    20.761349
VA    19.184694
VT    24.107620
WA    17.593507
WI    20.346171
WV    21.229453
WY    22.588175
Name: Total day calls, dtype: float64

In [ ]:
df.groupby(by='State')['Total intl minutes'].sum()

State
AK    435.8
AL    672.8
AR    492.5
AZ    477.7
CA    243.6
CO    576.9
CT    587.0
DC    485.2
DE    527.9
FL    536.7
GA    507.5
HI    443.3
IA    370.4
ID    580.8
IL    463.0
IN    527.9
KS    566.9
KY    466.6
LA    320.2
MA    519.3
MD    644.4
ME    487.9
MI    611.9
MN    729.3
MO    522.0
MS    501.0
MT    566.9
NC    560.2
ND    410.7
NE    482.8
NH    448.7
NJ    561.2
NM    447.0
NV    614.9
NY    694.7
OH    680.3
OK    549.5
OR    652.3
PA    375.2
RI    484.8
SC    482.1
SD    482.6
TN    427.6
TX    582.2
UT    598.6
VA    707.8
VT    574.6
WA    466.2
WI    587.7
WV    872.3
WY    682.5
Name: Total intl minutes, dtype: float64

In [ ]:
df['Total calls']=df['Total intl calls']+df['Total eve calls']+df['Total day calls']+df['Total night calls']+df['Customer service calls']

In [ ]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,304
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,333
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,333
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,257
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,...,16.12,221.4,128,9.96,11.8,5,3.19,2,False,301
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False,294
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False,242
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False,266
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False,276

In [ ]:
df['Total charges']=df['Total intl charge']+df['Total eve charge']+df['Total day charge']+df['Total night charge']

In [ ]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls,Total charges
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,False,304,75.56
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,False,333,59.24
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,False,333,62.29
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,False,257,66.80
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,False,362,52.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,...,221.4,128,9.96,11.8,5,3.19,2,False,301,52.17
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,279.1,83,12.56,9.9,6,2.67,2,False,294,60.10
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,191.3,123,8.61,9.6,4,2.59,3,False,242,63.53
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,191.9,91,8.64,14.1,6,3.81,2,False,266,67.74
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,241.4,77,10.86,13.7,4,3.70,0,False,276,77.01

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.drop('Total charges',axis=1,inplace=True)